.card-container {
    height: 40vh;
    width: 40vw;
}

.robo-container {
    height: 640px;
    width: 640px;
}

p{
    margin-bottom: 0;
}

.my-editor {
    height: 300px;
}

.editor-bottom-padding {
    padding-bottom: 100px;
}