
<iframe #frame class="preview-frame theme-border" 
    sandbox="allow-downloads allow-forms allow-modals allow-pointer-lock allow-popups 
        allow-presentation allow-scripts allow-top-navigation-by-user-activation"
></iframe>

<div *ngIf="provideFeedback; else nextTemplate"
    class="d-flex justify-content-around mt-4 mb-2"
>
    <div class="w-20">
        <main-button (click)="next('Again')" label="{{'card.feedback.again' | translate }}"
            class="again-button"
        ></main-button>
    </div>

    <div class="w-20">
        <main-button (click)="next('Hard')" label="{{'card.feedback.hard' | translate }}"
            class="hard-button"
        ></main-button>
    </div>

    <div class="w-20">
        <main-button (click)="next('Good')" label="{{'card.feedback.good' | translate }}"
            class="good-button"
        ></main-button>
    </div>

    <div class="w-20">
        <main-button (click)="next('Easy')" label="{{'card.feedback.easy' | translate }}"
            class="easy-button"
        ></main-button>
    </div>
</div>

<ng-template #nextTemplate>
    <div class="w-20 ml-auto mr-auto">
        <main-button (click)="next('')" label="{{'card.feedback.next' | translate }}"
            class="easy-button"
        ></main-button>
    </div>
</ng-template>