<div class="d-flex">
    <canvas #canvas></canvas>
    <div class="d-flex flex-column justify-content-between w-100" style="max-height: 50px;">

        <div class="w-75 h-5 ml-auto mr-auto">
            <main-button 
                (click)="submit()" 
                label="{{'input.submit' | translate }}" 
                [disabled]="!canSubmit"
            ></main-button>
        </div>

        <div class="w-75 h-5 ml-auto mr-auto">
            <main-button 
                class="delete-button"
                (click)="clearCanvas()" 
                label="{{'input.redo' | translate }}" 
                [disabled]="!canSubmit"
            ></main-button>
        </div>
    </div>
</div>